In [1]:
# Tbis file is for trying out various experimentss to checkout what is needed in the real work

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(['a','b'], columns=['col'])
df.head()

  col
0   a
1   b

In [4]:
df['col'] = pd.Categorical(df['col'], categories=['a', 'b', 'c', 'd'])

In [16]:
df['col'].cat.categories

Index(['a', 'b', 'c', 'd'], dtype='object')

In [9]:
pd.get_dummies(df, columns=['col'])

   col_a  col_b  col_c  col_d
0      1      0      0      0
1      0      1      0      0

In [25]:
c = pd.Categorical(['a', 'b', 'c', 'd'])

In [26]:
c.categories

Index(['a', 'b', 'c', 'd'], dtype='object')

In [6]:
df = pd.DataFrame(np.arange(10).reshape(-1, 2), columns=['A', 'B'])
print(df.head(10))
m = (df['A'] % 3 == 0)
m
df.head()

   A  B
0  0  1
1  2  3
2  4  5
3  6  7
4  8  9

   A  B
0  0  1
1  2  3
2  4  5
3  6  7
4  8  9

In [7]:
df2 = pd.get_dummies(df, columns=['A'])
df2.head()

   B  A_0  A_2  A_4  A_6  A_8
0  1    1    0    0    0    0
1  3    0    1    0    0    0
2  5    0    0    1    0    0
3  7    0    0    0    1    0
4  9    0    0    0    0    1

In [13]:
df['A'] = df['A'].where(m, other=np.nan)

In [14]:
df

     A  B
0  0.0  1
1  NaN  3
2  NaN  5
3  6.0  7
4  NaN  9

In [3]:
df_impute = pd.DataFrame()

In [11]:
df_impute['col_a'] = pd.Categorical(['a', np.nan, 'b', 'b', 'c'])
df_impute['col_b'] = [1,2, np.nan, 4, 5]
df_impute.head()

  col_a  col_b
0     a    1.0
1   NaN    2.0
2     b    NaN
3     b    4.0
4     c    5.0

In [12]:
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

In [13]:
imp.fit_transform(df_impute)

array([['a', 1.0],
       ['b', 2.0],
       ['b', 1.0],
       ['b', 4.0],
       ['c', 5.0]], dtype=object)